
body{
    font-family:'Open sans', sans-serif;
    margin:0;
}
p{
    text-align: center;
}
#heading{
    text-align:center;
    margin-bottom:5px;
    height:50px;
    color:white;
    background-color:rgb(19, 133, 153);
}
h1{
    margin:0;
}
form{
    margin:5px;
}
form .textArr{
    width:97%;
     margin:auto;
}
form .textArr textarea#trimText{
    border-radius: 25px;
    min-height:1rem;
    width:97%;
    margin:auto;
    height:300px;
    outline-width:0;
    padding:10px;
    border:none;
    resize: none;
    color:white;
    background-color:rgb(25, 156, 134);
}
form .textArr textarea#trimText::placeholder{
    color:white;
    opacity:0.8;
}
form .buttonRow input{
    outline-width: 0;
    margin:auto;
    border:none;
    background-color:rgb(45, 233, 123);
    border-radius:10px;
    font-size:1rem;
    padding:2px;

}
form button{
    height:23px;
    width:57px;
    border:none;
    outline-width: 0; 
    cursor: pointer;  
    border-radius:10px; 
    padding:3px;
}
form button.nameButton{
    position:relative;
    color:white;
    float:right;
    margin-right:25px;
    background-color:rgb(30, 129, 243);
}
form button:hover{
  transition:transform 100ms ease-in-out;
  transform:scale(1.2,1.2)
}
form button{
    transition:transform 100ms ease-in-out;
}
form button.nameButton:active{
    background-color:rgb(26, 96, 177);
}
#dark:active{
    background-color:rgb(126, 126, 126);
}
form button#dark, form button#emoji{
    position:relative;
    left:3px;
}
form button#dark{
    background-color:rgb(51,45,45);
    color:white;
}
ul{
    display:flex;
    flex-wrap: wrap;
}
ul ul{
    display:none;
}
.spam{
    font-size:12px;
    background-color:rgb(194, 77, 77);
    border-radius:25px;
    width:fit-content;
    max-width:30%;
    padding:10px;
    list-style-type: none;
    overflow-wrap:break-word;
    margin:5px;
    color:white;
}
#toDo{
    position:relative;
    top:30px;
}
@media only screen and (max-width:970px){
    
    #spamCont{
        padding:0;
    }
    .spam{
        max-width: 45%;
    }
}
@media only screen and (max-width:665px){
    .spam{
        max-width: 95%;
    }
}
